<!DOCTYPE html>
<html ng-app="homeApp">
<head>
  <title>PerpheriorHome</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <link rel="shortcut icon" href="selfie.jpg"/>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
  <div class="loading">
    <div class="loading-spinner"></div>
  </div>
  <%= render partial: "layouts/navbar" %>
  <div class="body-container" id="body">
    <%= yield %>
    <div class="push"></div>
  </div>
  <%= render partial: "layouts/footer" %>
</body>
</html>
